<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.dailyefforts.android.reviwer"
    android:versionCode="9"
    android:versionName="1.12.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gmail.dailyefforts.android.reviwer.activity.TestPage"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gmail.dailyefforts.android.reviwer.setting.SettingsActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="com.gmail.dailyefforts.android.reviwer.book.WordBookActivity"
            android:label="@string/my_word_book" >
        </activity>

        <provider
            android:name="com.gmail.dailyefforts.android.reviwer.db.WordListProvider"
            android:authorities="com.gmail.dailyefforts.android.reviwer.wordlist"
            android:exported="false" >
        </provider>
        <provider
            android:name=".db.TestReportsProvider"
            android:authorities="com.gmail.dailyefforts.android.reviwer.testreport"
            android:exported="false" >
        </provider>

        <service
            android:name="com.gmail.dailyefforts.android.reviwer.service.VersionChecker"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.gmail.dailyefforts.android.reviwer.CheckVersion" />
            </intent-filter>
        </service>

        <activity
            android:name="com.gmail.dailyefforts.android.reviwer.version.UpdateConfirm"
            android:label=""
            android:theme="@style/ActivityTheme.Translucent" >
        </activity>
        <activity
            android:name="com.gmail.dailyefforts.android.reviwer.Sessions"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WordPager" >
        </activity>

        <receiver android:name=".receiver.BootReciver" >
        </receiver>
        <receiver
            android:name=".receiver.ReviewReciver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.gmail.dailyefforts.android.reviwer.review" />
            </intent-filter>
        </receiver>

        <activity android:name=".drag.DragAndDropActivity" >
        </activity>
        <activity android:name=".version.DownloadConfirm" >
        </activity>
    </application>

</manifest>